<div class="app-container header d-flex align-items-center pt-2 pl-2">
  <a routerLinkActive="active" routerLink="/home">
    <div class="d-block d-sm-none" style="max-width: 35px; overflow: hidden;">
      <img src="/assets/piedefi-logo-overlay.png" alt="Piedefi Logo" class="img-fluid">
    </div>
    <div class="d-none d-sm-block" style="max-height: 60px; overflow: hidden;">
      <img src="/assets/piedefi-logo.png" alt="Piedefi Logo" class="img-fluid d-none d-sm-block">
    </div>
  </a>
  <a routerLinkActive="active" routerLink="/home">
    <div class="menu-item" [ngClass]="{'active': isActive('/home')}">
      <span class="fw-bold">Home</span>
    </div>
  </a>
  <a routerLinkActive="active" routerLink="/dashboard-cadence">
    <div class="menu-item" [ngClass]="{'active': isActive('/dashboard-cadence')}">
      <span class="fw-bold">Cadence</span>
    </div>
  </a>
  <a routerLinkActive="active" routerLink="/dashboard-slingshot">
    <div class="menu-item" [ngClass]="{'active': isActive('/dashboard-slingshot')}">
      <span class="fw-bold">Slingshot</span>
    </div>
  </a>
  <a routerLinkActive="active" routerLink="/dashboard-fortunafi">
    <div class="menu-item" [ngClass]="{'active': isActive('/dashboard-fortunafi')}">
      <span class="fw-bold">Fortunafi</span>
    </div>
  </a>
</div>