<div class="app-container header d-flex align-items-center">
  <a routerLinkActive="active" routerLink="/home">
    <div class="logo-container d-inline-block" style="max-height: 60px; overflow: hidden;">
      <img src="/assets/piedefi-logo.png" alt="Piedefi Logo" class="img-fluid d-block">
    </div>
  </a>
  <a routerLinkActive="active" routerLink="/home">
    <div class="menu-item" [ngClass]="{'active': isActive('/home')}">
      <span>Home</span>
    </div>
  </a>
  <a routerLinkActive="active" routerLink="/dashboard-cadence">
    <div class="menu-item" [ngClass]="{'active': isActive('/dashboard-cadence')}">
      <span>Cadence</span>
    </div>
  </a>
  <a routerLinkActive="active" routerLink="/dashboard-canto">
    <div class="menu-item" [ngClass]="{'active': isActive('/dashboard-canto')}">
      <span>Canto</span>
    </div>
  </a>
  <a routerLinkActive="active" routerLink="/dashboard-fortunafi">
    <div class="menu-item" [ngClass]="{'active': isActive('/dashboard-fortunafi')}">
      <span>Fortunafi</span>
    </div>
  </a>
</div>