@import './../../../variables'; 

.menu-item {
    margin: 0.3em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-radius: 0.5em;
    cursor: pointer;

    &:hover {
        background-color: $background-hover-active;
        color: $text-color-hover-active;

        span {
            color: $text-color-hover-active;
        }
    }

    span {
        font-size: 1.3em;
        font-weight: 500;
        color: $text-color-default;
    }

    &.active {
        background-color: $background-hover-active;
        color: $text-color-hover-active;

        span {
            color: $text-color-hover-active;
        }
    }
}
