.menu-item {
    background-color: rgb(77, 77, 77);
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0.3em;
    padding: 0.3em;
    border-radius: 0.3em;
    cursor: pointer;
    span {
        font-size: 1.3em;
        color: aliceblue;
    }
}
