<div class="row gy-5 mb-5 mb-md-5 mb-xl-0 gx-xl-10">
    <div class="col-sm-6 col-xl-3 mb-md-5 mb-xl-10">
      Pnl
    </div>
    <div class="col-sm-6 col-xl-3 mb-md-5 mb-xl-10">
      Avg trade
    </div>
    <div class="col-sm-6 col-xl-3 mb-md-5 mb-xl-10">
      Best/Worst
    </div>
    <div class="col-sm-6 col-xl-3 mb-md-5 mb-xl-10">
      Total volume
    </div>
  </div>
  <div class="row g-5 g-xl-10 mb-md-5 mb-xl-10 gx-xl-10">
    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
      <span>Winrate</span>
      <span>Total trades</span>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-9">
      Chart
    </div>
  </div>
  
  <div class="row g-5 gx-xxl-12 mb-5 mb-md-5 mb-xl-5 gx-xl-5">
    <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-6">
      <span>Closed positions</span>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-6">
      <span>Opened positions</span>
    </div>
  </div>