<div *ngIf="data || tradingData; else example">
  <div class="row gy-5 mt-2 mb-2 mb-xl-3">
    <div class="col-xl-3 col-md-6 mt-2 mt-xl-5">
      <app-stats title="PnL" icon="bootstrapSymmetryVertical" body="{{data.pnl | number:'1.0-2'}}"></app-stats>
    </div>
    <div class="col-xl-3 col-md-6 mt-2 mt-xl-5">
      <app-stats title="Avg Trade" icon="bootstrapSoundwave" body="{{data.avgTrade | number:'1.0-2'}}"></app-stats>
    </div>
    <div class="col-xl-3 col-md-6 mt-2 mt-xl-5">
      <app-stats title="Best/Worst" icon="bootstrapStars"
        body="+{{data.bwTrade.best | number:'1.0-2'}}/{{data.bwTrade.worst | number:'1.0-2'}}"></app-stats>
    </div>
    <div class="col-xl-3 col-md-6 mt-2 mt-xl-5">
      <app-stats title="Total volume" icon="bootstrapSpeedometer"
        body="{{data.totalVolume | number:'1.0-2'}}"></app-stats>
    </div>
  </div>

  <div class="row g-5 g-xl-10 mb-5">
    <div class="col-xl-3 col-md-12 col-sm-12 col-xs-12 mb-md-1">
      <app-winrate [lostTrades]="data.lostTradesCount" [wonTrades]="data.wonTradesCount" [data$]="data$"
        styleOverride="height: 50% !important; margin-bottom: 1rem"></app-winrate>
      <app-total-trades [openedTrades]="data.openedTrades" [closedTrades]="data.closedTrades"
        styleOverride="height: 50% !important; margin-bottom: 1rem"></app-total-trades>
    </div>
    <div class="col-xl-9 col-md-12 col-sm-12 col-xs-12 mb-md-1">
      <app-pnl-chart [initialData]="data.pnlChart" [data$]="pnlData$"></app-pnl-chart>
    </div>
  </div>

  <div class="row g-5 mb-2 mb-xl-3">
    <div class="col-12">
      <app-closed-positions [positions]="tradingData.closedPositions"></app-closed-positions>
    </div>
    <div class="col-12">
      <app-opened-positions [positions]="tradingData.openedPositions"></app-opened-positions>
    </div>
  </div>
</div>

<ng-template #example class="overlay-container">
  <div class="overlay-example"></div>
  <app-dashboard-cadence-example></app-dashboard-cadence-example>
</ng-template>