<div class="card card-flush" [style]="styleOverride">
    <div class="card-header pt-3">
        <div class="card-title d-flex flex-column">
            <div class="d-flex flex-row justify-content-center">
                <ng-icon class="fs-5 text-white fw-bold mr-3" name="{{icon}}"></ng-icon>
                <span class="fs-5 fw-bold text-white text-nowrap me-2 lh-1 ls-n2 align-baseline">
                    {{ title }}
                </span>
            </div>
        </div>
    </div>

    <div class="card-body pt-0 pb-0">
        <div class="d-flex flex-column align-items-center text-center justify-content-center mt-3">
            <div *ngIf="body"
                class="fw-bold fs-6 text-white"
                [@pulse]="anim">
                <span> {{ body }}</span>
            </div>
            <div *ngIf="icons"
                class="d-flex justify-content-center mb-2">
                <div [@pulse]="anim" class="d-flex flex-row-fluid">
                    <ng-icon *ngFor="let ic of icons"
                        class="fw-bold fs-6 text-white mb-2"
                        name="{{ic}}"></ng-icon>
                </div>
            </div>
        </div>
    </div>