<div class="card card-flush">
    <div class="card-header pt-3">
        <div class="card-title d-flex flex-column">
            <div class="d-flex flex-row justify-content-center">
                <span class="fs-5 fw-bold text-white text-nowrap me-2 lh-1 ls-n2 align-baseline">
                    Checkpoints
                </span>
            </div>
        </div>
    </div>

    <div class="card-body">
        <table class="card-body table table-dark">
            <tbody>
                <tr>
                    <th scope="row" class="pt-3">
                        <ng-icon class="text-warning fs-6 overflow-visible" name="bootstrapHourglassSplit"></ng-icon>
                    </th>
                    <td>
                        <span>23.05 Awaitinng for hackathon results</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="pt-3">
                        <ng-icon class="text-success fs-6 overflow-visible" name="bootstrapHourglassSplit"></ng-icon>
                    </th>
                    <td>
                        <span class="text-muted fw-bold d-block">08.05 Hackathon finished</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="pt-3">
                        <ng-icon class="text-success fs-6 overflow-visible" name="bootstrapHourglassSplit"></ng-icon>
                    </th>
                    <td>
                        <span class="text-muted fw-bold d-block">26.04 Canto support added</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="pt-3">
                        <ng-icon class="text-success fs-6 overflow-visible" name="bootstrapHourglassSplit"></ng-icon>
                    </th>
                    <td>
                        <span class="text-muted fw-bold d-block">18.04 Cadence support added</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="pt-3">
                        <ng-icon class="text-success fs-6 overflow-visible" name="bootstrapHourglassSplit"></ng-icon>
                    </th>
                    <td>
                        <span class="text-muted fw-bold d-block">08.04 Hackathon start</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>