<div class="card card-flush">
    <div class="card-header pt-3">
        <div class="d-flex flex-row justify-content-center">
            <span class="fs-5 fw-bold text-white text-nowrap me-2 lh-1 ls-n2 align-baseline">
                Checkpoints
            </span>
        </div>
    </div>

    <div class="card-body pt-0 pb-0">
        <table class="table table-dark mb-0">
            <tbody>
                <tr>
                    <th scope="row" class="pt-3">
                        <ng-icon class="text-warning fs-5 overflow-visible" name="bootstrapClock"></ng-icon>
                    </th>
                    <td>
                        <span>23.05 Awaitinng for hackathon results</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="pt-3">
                        <ng-icon class="text-success fs-5 overflow-visible" name="bootstrapCheck2Circle"></ng-icon>
                    </th>
                    <td>
                        <span class="text-muted fw-bold d-block">08.05 Hackathon finished</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="pt-3">
                        <ng-icon class="text-success fs-5 overflow-visible" name="bootstrapCheck2Circle"></ng-icon>
                    </th>
                    <td>
                        <span class="text-muted fw-bold d-block">26.04 Canto support added</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="pt-3">
                        <ng-icon class="text-success fs-5 overflow-visible" name="bootstrapCheck2Circle"></ng-icon>
                    </th>
                    <td>
                        <span class="text-muted fw-bold d-block">18.04 Cadence support added</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="pt-3">
                        <ng-icon class="text-success fs-5 overflow-visible" name="bootstrapCheck2Circle"></ng-icon>
                    </th>
                    <td>
                        <span class="text-muted fw-bold d-block">08.04 Hackathon start</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>