<div class="card card-flush">
    <div class="card-header pt-3">
        <div class="d-flex flex-row justify-content-center">
            <span class="fs-5 fw-bold text-white text-nowrap me-2 lh-1 ls-n2 align-baseline">
                Roadmap
            </span>
        </div>
    </div>

    <div class="card-body pt-0 pb-0">
        <table class="table table-dark mb-0">
            <tbody>
                <tr>
                    <th scope="row" class="pt-3">
                        <ng-icon class="text-muted fs-5 overflow-visible" name="bootstrapQuestionCircle"></ng-icon>
                    </th>
                    <td>
                        <span class="text-muted fw-bold d-block">30.06</span>
                    </td>
                    <td>
                        <span class="text-muted fw-bold d-block">Canto Lending support</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="pt-3">
                        <ng-icon class="text-muted fs-5 overflow-visible" name="bootstrapQuestionCircle"></ng-icon>
                    </th>
                    <td>
                        <span class="text-muted fw-bold d-block">14.06</span>
                    </td>
                    <td>
                        <span class="text-muted fw-bold d-block">Canto DEX support</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="pt-3">
                        <ng-icon class="text-warning fs-5 overflow-visible" name="bootstrapClock"></ng-icon>
                    </th>
                    <td>
                        <span>23.05</span>
                    </td>
                    <td>
                        <span>Awaitinng for hackathon results</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="pt-3">
                        <ng-icon class="text-success fs-5 overflow-visible" name="bootstrapCheckCircle"></ng-icon>
                    </th>
                    <td>
                        <span class="text-muted fw-bold d-block">08.05</span>
                    </td>
                    <td>
                        <span class="text-muted fw-bold d-block">Hackathon finished</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="pt-3">
                        <ng-icon class="text-success fs-5 overflow-visible" name="bootstrapCheckCircle"></ng-icon>
                    </th>
                    <td>
                        <span class="text-muted fw-bold d-block">30.04</span>
                    </td>
                    <td>
                        <span class="text-muted fw-bold d-block">Cadence support added</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="pt-3">
                        <ng-icon class="text-success fs-5 overflow-visible" name="bootstrapCheckCircle"></ng-icon>
                    </th>
                    <td>
                        <span class="text-muted fw-bold d-block">08.04</span>
                    </td>
                    <td>
                        <span class="text-muted fw-bold d-block">Hackathon start</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>