<div class="card card-flush">
    <div class="card-header align-items-start d-flex flex-column pb-1 pt-2">
        <span class="card-label text-white fw-bolder fs-3">Borrow history</span>
    </div>
    <div class="card-body pb-0 scroll-x">
        <table class="table table-dark table-striped text-nowrap">
            <tbody>
                <tr>
                    <th>Asset</th>
                    <th>APY</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
                <tr>
                    <td>
                        <span>
                            <ng-icon class="fs-5 text-white fw-bold mr-3" name="cryptoAtom"></ng-icon>
                        </span>
                    </td>
                    <td>
                        <span>2.1%</span>
                    </td>
                    <td>
                        <span>3458</span>
                    </td>
                    <td>
                        <span>2024-03-03 10:30</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>
                            <ng-icon class="fs-5 text-white fw-bold mr-3" name="cryptoXrp"></ng-icon>
                        </span>
                    </td>
                    <td>
                        <span>2.4%</span>
                    </td>
                    <td>
                        <span>2389</span>
                    </td>
                    <td>
                        <span>2024-03-01 11:22</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>
                            <ng-icon class="fs-5 text-white fw-bold mr-3" name="cryptoUsdc"></ng-icon>
                        </span>
                    </td>
                    <td>
                        <span>1.8%</span>
                    </td>
                    <td>
                        <span>1897</span>
                    </td>
                    <td>
                        <span>2024-02-28 09:54</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>