<div class="container-fluid d-flex flex-column justify-content-top align-items-center">
    <div class="container-fluid min-vh-100 d-flex flex-column justify-content-center align-items-center bg-cover"
        style="position: absolute; background-image: url('./assets/background-hackathon.png'); background-repeat: no-repeat; background-position: center; filter: brightness(50%); z-index: -1;">
    </div>
    <div class="container mt-5 d-flex flex-column">
        <h1 class="fs-1 fw-bold text-white me-2 lh-1 ls-n2">Introducing The Future</h1>
        <h1 class="fs-3 fw-bold text-end text-secondary mb-2 ">On-Chain Analytics</h1>
        <h1 class="fs-3 fw-bold text-end text-white mb-2">PieDeFi</h1>
        <div class="text-end"><button class="btn btn-primary">Explore</button></div>
    </div>
    <div class="row gy-5 mt-5 mb-md-5 mb-xl-0 gx-xl-10 w-100">
        <div class="col-3 mb-md-5 mb-xl-10">
            <app-timeline></app-timeline>
        </div>
    </div>
    <div class="row gy-5 mb-5 mb-md-5 mb-xl-0 gx-xl-10 w-100">
        <div class="col-6 mb-md-5 mb-xl-10">
        </div>
        <div class="col-6 mb-md-5 mb-xl-10">
            <app-timeline></app-timeline>
        </div>
      </div>
</div>