<div class="card card-flush">
    <div class="card-header align-items-start d-flex flex-column pb-1 pt-2">
      <span class="card-label text-white fw-bolder fs-3">Swaps</span>
    </div>
    <div class="card-body pb-0 scroll-x">
      <table class="table table-dark table-striped text-nowrap">
        <tbody>
          <tr>
            <th>Swap</th>
            <th>Value</th>
            <th>Amount sent</th>
            <th>Amount received</th>
            <th>Date</th>
          </tr>
          <tr>
            <td>
              <span class="d-flex">
                <ng-icon class="fs-5 text-white fw-bold mr-3" name="cryptoEth"></ng-icon>
                <ng-icon class="fs-5 text-white fw-bold mr-3" name="bootstrapArrowRightShort"></ng-icon>
                <ng-icon class="fs-5 text-white fw-bold mr-3" name="cryptoAtom"></ng-icon>
              </span>
            </td>
            <td>
              <span>667$</span>
            </td>
            <td>
              <span>0.12</span>
            </td>
            <td>
              <span>698</span>
            </td>
            <td>
              <span>2024-03-03 10:30</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="d-flex">
                <ng-icon class="fs-5 text-white fw-bold mr-3" name="cryptoAtom"></ng-icon>
                <ng-icon class="fs-5 text-white fw-bold mr-3" name="bootstrapArrowRightShort"></ng-icon>
                <ng-icon class="fs-5 text-white fw-bold mr-3" name="cryptoEth"></ng-icon>
              </span>
            </td>
            <td>
              <span>8526$</span>
            </td>
            <td>
              <span>1.0254</span>
            </td>
            <td>
              <span>8965</span>
            </td>
            <td>
              <span>2024-03-01 09:28</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="d-flex">
                <ng-icon class="fs-5 text-white fw-bold mr-3" name="cryptoEth"></ng-icon>
                <ng-icon class="fs-5 text-white fw-bold mr-3" name="bootstrapArrowRightShort"></ng-icon>
                <ng-icon class="fs-5 text-white fw-bold mr-3" name="cryptoAtom"></ng-icon>
              </span>
            </td>
            <td>
              <span>546$</span>
            </td>
            <td>
              <span>0.1456</span>
            </td>
            <td>
              <span>575</span>
            </td>
            <td>
              <span>2024-02-28 21:37</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="d-flex">
                <ng-icon class="fs-5 text-white fw-bold mr-3" name="cryptoUsdt"></ng-icon>
                <ng-icon class="fs-5 text-white fw-bold mr-3" name="bootstrapArrowRightShort"></ng-icon>
                <ng-icon class="fs-5 text-white fw-bold mr-3" name="cryptoEth"></ng-icon>
              </span>
            </td>
            <td>
              <span>68945$</span>
            </td>
            <td>
              <span>68945</span>
            </td>
            <td>
              <span>13.55546</span>
            </td>
            <td>
              <span>2024-02-25 16:37</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="d-flex">
                <ng-icon class="fs-5 text-white fw-bold mr-3" name="cryptoUsdt"></ng-icon>
                <ng-icon class="fs-5 text-white fw-bold mr-3" name="bootstrapArrowRightShort"></ng-icon>
                <ng-icon class="fs-5 text-white fw-bold mr-3" name="cryptoEth"></ng-icon>
              </span>
            </td>
            <td>
              <span>35$</span>
            </td>
            <td>
              <span>35</span>
            </td>
            <td>
              <span>0.0052</span>
            </td>
            <td>
              <span>2024-02-25 16:24</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>