<div class="overlay-container">
  <div class="row gy-5 mt-2">
    <div class="col-xl-3 col-md-6 mt-2 mt-xl-5">
      <app-stats title="Net worth" icon="bootstrapGraphUp" body="5649$"></app-stats>
    </div>
    <div class="col-xl-3 col-md-6 mt-2 mt-xl-5">
      <app-stats title="Supplying" icon="lucideLandmark" [icons]="['cryptoEth', 'cryptoTusd']"></app-stats>
    </div>
    <div class="col-xl-3 col-md-6 mt-2 mt-xl-5">
      <app-stats title="Borrowing" icon="lucideHandCoins" [icons]="['cryptoUsdc','cryptoXrp','cryptoAtom']"></app-stats>
    </div>
    <div class="col-xl-3 col-md-6 mt-2 mt-xl-5">
      <app-stats title="Leaderboard" icon="tdesignLeaderboard" body="28"></app-stats>
    </div>
  </div>


  <div class="row gy-5 mt-2 mb-2 mb-xl-3">
    <div class="col-xl-6 col-md-12 mt-2 mt-xl-2">
      <app-asset-borrow-table></app-asset-borrow-table>
    </div>
    <div class="col-xl-6 col-md-12 mt-2 mt-xl-2">
      <app-asset-supply-table></app-asset-supply-table>
    </div>
  </div>

  <div class="row g-5 gx-xxl-8 mb-5 mb-md-5 mb-xl-5 gx-xl-10">
    <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <app-apy-chart [data$]="pnlData$"></app-apy-chart>
    </div>
  </div>
  <div class="overlay">
    <img src="./assets/piedefi-logo-overlay.png" alt="illustration" class="image-fluid"  style="width: 5em;"/>
    <h1 class="d-flex text-gray-900 fw-bold fs-2 my-0 flex-column justify-content-center">
      Coming soon
    </h1>
  </div>
</div>