/* You can add global styles to this file, and also import other style files */
.app-container {
    background: none !important;
}

ng-icon {
    overflow: visible !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}