/* You can add global styles to this file, and also import other style files */
.app-container {
    background: none !important;
}

ng-icon {
    overflow: visible !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.chart-tooltip {
    color: black;
}

.overlay-container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%; /* Ensures it covers all contained content */
    z-index: 1; /* Relative stacking context */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(#00112d, 0.6) 50%, rgba(#0f1014, 0.01) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
    z-index: 2; /* Ensures it is above all content within the container */
}

.card-header {
    border-bottom: none !important;
}


/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
