<div class="card card-flush">
    <div class="card-header align-items-start d-flex flex-column">
        <span class="card-label text-white fw-bolder fs-3 mb-1">Closed trades</span>
        <span class="text-muted mt-1 fw-bold fs-7">Count 3</span>
    </div>
    <div class="card-body pb-0">
        <table class="table table-dark table-striped">
            <tbody>
                <tr>
                    <th scope="row" class="pt-4">
                        <ng-icon class="text-success fs-3 overflow-visible"
                            name="bootstrapArrowUpRightCircleFill"></ng-icon>
                    </th>
                    <td>
                        <span class="text-break">0x183d0567c33e7591c22540e45d2f74730b42a0ca</span>
                        <span class="text-muted fw-bold d-block">2024.03.05 11:52 - 2024.03.05 11:55</span>
                    </td>
                    <td class="text-end text-success fw-bold">9297$</td>
                </tr>
                <tr>
                    <th scope="row" class="pt-4">
                        <ng-icon class="text-danger fs-3 overflow-visible"
                            name="bootstrapArrowDownRightCircleFill"></ng-icon>
                    </th>
                    <td>
                        <span class="text-break">0x183d0567c33e7591c22540e45d2f74730b42a0ca</span>
                        <span class="text-muted fw-bold d-block">2024.03.01 02:18 - 2024.03.02 02:18</span>
                    </td>
                    <td class="text-end text-danger fw-bold">2839$</td>
                </tr>
                <tr>
                    <th scope="row" class="pt-4">
                        <ng-icon class="text-success fs-3 overflow-visible"
                            name="bootstrapArrowUpRightCircleFill"></ng-icon>
                    </th>
                    <td>
                        <span class="text-break">0x183d0567c33e7591c22540e45d2f74730b42a0ca</span>
                        <span class="text-muted fw-bold d-block">2024.02.28 15:58 - 2024.02.29 15:58</span>
                    </td>
                    <td class="text-end text-success fw-bold">9297$</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>