<div class="card card-flush">
    <div class="card-header align-items-start d-flex flex-column pb-1 pt-2">
        <span class="card-label text-white fw-bolder fs-3">Closed trades</span>
        <span class="text-muted fw-bold fs-7">Count {{positions.length}}</span>
    </div>
    <div class="card-body pb-0 scroll-x">
        <table class="table table-dark table-striped text-nowrap">
            <tbody>
                <tr>
                    <th>Type</th>
                    <th>Open date</th>
                    <th>Close date</th>
                    <th>Token</th>
                    <th>Open price</th>
                    <th>Close price</th>
                    <th>Value</th>
                    <th>PnL</th>
                </tr>
                <tr *ngFor="let position of positions">
                    <td data-toggle="tooltip">
                        <span *ngIf="position.type === 'SHORT'" class="d-flex">
                            <!-- <span ngbTooltip="Short position">S</span> -->
                            <ng-icon class="fs-3 overflow-visible" ngbTooltip="Short position" name="tablerArrowWaveRightDown"></ng-icon>
                            <ng-icon *ngIf="position.isLiquidated" ngbTooltip="Liquidated" class="text-danger fs-3 overflow-visible" name="lucideSkull"></ng-icon>
                        </span>
                        <span *ngIf="position.type === 'LONG'" class="d-flex">
                            <!-- <span ngbTooltip="Long position">L</span> -->
                            <ng-icon class="fs-3 overflow-visible" ngbTooltip="Long position" name="tablerArrowWaveRightUp"></ng-icon>
                            <ng-icon *ngIf="position.isLiquidated" ngbTooltip="Liquidated" class="text-danger fs-3 overflow-visible" name="lucideSkull"></ng-icon>
                        </span>
                    <!-- </td> -->
                    <td>
                        <span>{{position.openDate | date: 'dd.MM-yyyy'}}</span>
                    </td>
                    <td>
                        <span>{{position.closeDate | date: 'dd.MM-yyyy'}}</span>
                    </td>
                    <td>
                        <span>{{position.token}}</span>
                    </td>
                    <td>
                        <span>{{position.openPrice | number: '1.0-6'}}</span>
                    </td>
                    <td>
                        <span>{{position.closePrice | number: '1.0-6'}}</span>
                    </td>
                    <td>
                        <span>{{position.positionSizeInUsd | number: '1.0-2'}} $</span>
                    </td>
                    <td>
                        <span *ngIf="position.pnl <= 0" class="text-danger">{{position.pnl | number: '1.0-2'}} $</span>
                        <span *ngIf="position.pnl > 0" class="text-success">{{position.pnl | number: '1.0-2'}} $</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
