<div class="overlay-container">
  <div class="row gy-5 mt-2 mb-2 mb-xl-3">
    <div class="col-xl-3 col-md-6 mt-2 mt-xl-5">
      <app-stats title="TVL" icon="tdesignLockOn" body="893729$"></app-stats>
    </div>
    <div class="col-xl-3 col-md-6 mt-2 mt-xl-5">
      <app-stats title="Leaderboard" icon="tdesignLeaderboard" body="28"></app-stats>
    </div>
    <div class="col-xl-3 col-md-6 mt-2 mt-xl-5">
      <app-stats title="Impermanent loss" icon="tdesignDespise" body="129$"></app-stats>
    </div>
    <div class="col-xl-3 col-md-6 mt-2 mt-xl-5">
      <app-stats title="Coins" icon="bootstrapCoin" [icons]="[
      'cryptoEth',
      'cryptoTusd',
      'cryptoUsdc',
      'cryptoXrp',
      'cryptoSushi'
    ]"></app-stats>
    </div>
  </div>

  <div class="row g-5 gx-xxl-8 mb-5 mb-md-5 mb-xl-5 gx-xl-10">
    <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <!-- <app-pnl-chart [data]="data.pnlChart"></app-pnl-chart> -->
    </div>
  </div>
  <div class="overlay">
    <img src="./assets/piedefi-logo-overlay.png" alt="illustration" class="image-fluid w-25" />
    <h1 class="d-flex text-gray-900 fw-bold fs-1 my-0 flex-column justify-content-center">
      Coming soon
    </h1>
  </div>
</div>