<div class="card card-flush" [style]="styleOverride">
    <div class="card-header pt-3">
        <div class="card-title d-flex flex-column">
            <div class="d-flex flex-row justify-content-center">
                <ng-icon class="fs-5 text-white fw-bold mr-3" name="bootstrapGraphUp"></ng-icon>
                <span class="fs-5 fw-bold text-white text-nowrap me-2 lh-1 ls-n2 align-baseline">
                    Winrate
                </span>
            </div>
        </div>
    </div>

    <div class="card-body pt-0 pb-0 d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex flex-column align-items-center text-center justify-content-center mt-3 w-100">
            <div class="fw-bold fs-6 text-white opacity-75 w-100">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                    [labels]="chartOptions.labels" [yaxis]="chartOptions.yaxis" [dataLabels]="chartOptions.dataLabels"
                    [stroke]="chartOptions.stroke" [legend]="chartOptions.legend" [fill]="chartOptions.fill"
                    [states]="chartOptions.states" [tooltip]="chartOptions.tooltip" [colors]="chartOptions.colors"
                    [markers]="chartOptions.markers" [plotOptions]="chartOptions.plotOptions"></apx-chart>
            </div>
        </div>
        <span class="text-white text-center fw-bold" style="transform: translate(0px, -72px);">
            {{(wonTrades*100/(wonTrades+lostTrades)) | number: '1.0-0'}}%
        </span>
    </div>