<div class="card card-flush" [style]="styleOverride">
    <div class="card-header pt-3">
        <div class="card-title d-flex flex-column">
            <div class="d-flex flex-row justify-content-center">
                <ng-icon class="fs-5 text-white fw-bold mr-3" name="bootstrapGraphUp"></ng-icon>
                <span class="fs-5 fw-bold text-white text-nowrap me-2 lh-1 ls-n2 align-baseline">
                    All trades
                </span>
            </div>
        </div>
    </div>

    <div class="card-body pt-0 pb-0">
        <div class="d-flex flex-column align-items-start text-start mt-3">
            <div class="d-flex flex-column text-white fw-bold">
                <div class="d-flex flex-row">
                    <span>Opened:&ensp;</span>
                    <span [@pulse]="anim">{{openedTrades}}</span>
                </div>
                <div class="d-flex flex-row">
                    <span>Closed:&ensp;</span>
                    <span [@pulse]="anim">{{closedTrades}}</span>
                </div>
                <div class="d-flex flex-row">
                    <span>Total:&ensp;</span>
                    <span [@pulse]="anim">{{openedTrades + closedTrades}}</span>
                </div>
            </div>
        </div>
        <div class="progress mb-3 mt-4 mb-0 pb-0">
            <div class="progress-bar bg-success" role="progressbar"
                [ngStyle]="{width: 100*closedTrades/(openedTrades + closedTrades) + '%'}">
            </div>
            <div class="progress-bar bg-danger" role="progressbar"
                [ngStyle]="{width: 100*openedTrades/(openedTrades + closedTrades) + '%'}">
            </div>
        </div>
    </div>